<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
        <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About</a>
        <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact</a>
      </div>
      
  </nav>

  <!-- Page content -->
  <div class="container">
    <h1>About Us</h1>
    <hr>
    <div class="card-deck">
      <div class="card">
        <div class="card-body bg-light">
          <p class="card-text">Welcome to Best Cars dealership, home to the best cars in MEA. We sell domestic and imported cars at reasonable prices.</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>